/*-----------*/
/* -IMPORTS- */
/*-----------*/
@import url(cores.css);

/*--------*/
/* -BODY- */
/*--------*/
* {
  margin:0;
  padding: 0;
}

body {
  background-color: var(--fundo);
  height: 100vh;
  width: 100%;
  /* margin-bottom: 100px; */
  color: var(--secundaria-alt);
}

nav {
  position: fixed;
  background-color: var(--primaria-alt);
  height: 10vh;
  width: 100%;
}

footer{
  background-color: var(--primaria);
  /* height: 100%; */
  width: 100%;
  color: var(--secundaria-alt);
  bottom: 0%;
  left: 0;
}

/*---------*/
/* -CLASS- */
/*---------*/
.logo_navbar {
  height: 100%;
  padding-left: 50px;
}

.conteudo {
  padding-top: 10vh;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--secundaria-alt);
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.teste {
  background-color: violet;
}

.logo_home {
  width: 500px;
  padding-left: 100px;
}

/*------*/
/* -ID- */
/*------*/

#links {
  height: 100%;
  float: right;
  align-content: center;
  /* margin-top: 10px; */
  margin-right: 100px;
  /* width: 100%; */
}

/* #home {}

#qualidade {}

#sobre {}

#catalogo {}

#localizacao {} */