/*-----------*/
/* -IMPORTS- */
/*-----------*/
@import url(cores.css);

/*--------*/
/* -BODY- */
/*--------*/
* {
  margin:0;
  padding: 0;
}

body {
  background-color: var(--fundo);
  height: 100vh;
  width: 100%;
  /* margin-bottom: 100px; */
  color: var(--branco);
}

nav {
  position: fixed;
  background-color: var(--primaria-alt);
  height: 10vh;
  width: 100%;
}

footer{
  /* background-color: var(--primaria);
  height: 100%; */
  width: 100%;
  color: var(--secundaria-alt);
  bottom: 0%;
  left: 0;
}

/*---------*/
/* -CLASS- */
/*---------*/
.logo_navbar {
  height: 100%;
  padding-left: 50px;
}

.conteudo {
  padding-top: 10vh;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--secundaria-alt);
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.termo {
  text-decoration: none;
  color: var(--secundaria-alt);
}

.termo:hover {
  text-decoration: none;
  color: var(--secundaria-alt);
  font-weight: bold;
}

.center {
  text-align: center;
}

.logo_home {
  width: 500px;
  padding-left: 100px;
}

.img_perfil {
  width: 200px;
}

.icon_quali {
  width: 200px;
}

.icon_zap {
  width: 50px;
}

.icon_insta {
  width: 50px;
}

.footer {
  background-color: var(--primaria-alt);
}

.copyright {
  background-color: var(--primaria);
}

.btn-cat {
  color: var(--preto);
  background-color: var(--secundaria-alt);
  /* border-color: #212529; */
}
.btn-cat:hover {
  color: var(--branco);
  background-color: var(--secundaria);
  /* border-color: #1a1e21; */
}

.titulo-cinza {
  width: 20%;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--acento);
  z-index: -1;
  position: relative;
  top: -1.75rem;
}

.teste {
  background-color: violet;
}

/*------*/
/* -ID- */
/*------*/

#links {
  height: 100%;
  float: right;
  align-content: center;
  /* margin-top: 10px; */
  margin-right: 100px;
  /* width: 100%; */
}

#home {
  height: 90vh;
  scroll-margin-top: 10vh;
  padding-top: 100px;
}

#sobre {
  height: 45vh;
  scroll-margin-top: 10vh;
  /* padding-top: 10px; */
}

#catalogo {
  height: 90vh;
  scroll-margin-top: 10vh;
  padding-top: 50px;
  background-color: var(--primaria);
}

#qualidade {
  height: 45vh;
  scroll-margin-top: 10vh;
  padding-top: 50px;
}

#localizacao {
  height: 90vh;
  scroll-margin-top: 10vh;
  padding-top: 50px;
}